# Load nix
if command -v nix_direnv_version &> /dev/null && nix_direnv_version 1.4.0 && nix flake info &> /dev/null; then
  # Take from https://github.com/nix-community/nix-direnv/blob/master/direnvrc#L32
  # Without setting this manually, it seems to use a non-flake version of nix
  NIX_SHELL_BIN=`command -v nix-shell`
  NIX_BIN_PREFIX="${NIX_SHELL_BIN%/*}/"
  use flake
else
  use nix
fi;

# Add extra binx
layout node
